# The following rules match directories and files contain customer specefic
# data and are not checked in for that specific reason:

# TODO: pick them out of the list below
config/database.yml
config/mfi.yml
uploads
# other contenters: doc/, paperclip upload dir, maintainer database
# other suspects: public/* directories (see below)


# These rules fall in the 'other' category:

*.db
*.csv
*.pdf
*.sql
!lib/tasks/*.sql
*.sqlite
*.sqlite3
*.xls*
*.zip
*bak
*bz2
*~
*#
.#*
.DS_Store
.emacs*
.hg/*
.hgignore
.svn/*
TAGS
config.ru.bak
daily_log.rb
db/*
db/*.sql
doc/transaction_event_logs/
gems/gems/*
gems/specifications/*
log/*
merb_profile_results
misfit_fixtures/*
nbproject
oink.sed
public/browse
public/dashboard
public/graph_data
public/images/logos
public/logs
result_file.txt
schema/*.db
schema/*.sqlite
schema/*.sqlite3
schema/*_structure.sql
schema/schema.rb
scripts
spec/spec_failing_examples.txt
spec/spec_full_report.txt
spec/spec_report.html
src/*
tmp/*
